@model d20.InitTracker.Data.Models.Combatant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Combatant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CombatantType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CombatantType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiativeModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiativeModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dmnotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dmnotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlledBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlledBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CombatantKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
