@model IEnumerable<d20.InitTracker.Data.Models.Combatant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CombatantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitiativeModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dmnotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlledBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CombatantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiativeModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dmnotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlledBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CombatantKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CombatantKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CombatantKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
